.form-check-input:checked {
    background-color: #333; /* Cambia este color al oscuro que desees */
    border-color: #333; /* También puedes cambiar el color del borde */
    }
/*
.carousel-item {
    max-height: 50vh;
}
*/
input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* También oculta las flechas en Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
